@(words: List[Word])(implicit flash: Flash, requestHeader: RequestHeader, lang: Lang)
@main(Messages("words.list")){
    <dl class="word-item">
    @for(word <- words){
        <div class="jumbotron">
            <dt><a href="@controllers.routes.Words.show(word.content)">@word.content</a></dt>
            <dd>@word.meaning</dd>
        </div>
    }
    </dl>
    <button type="button" class="btn btn-default btn-lg">
        <a href="@controllers.routes.Words.newWord()" class="btn"><i class="glyphicon-plus"></i></a>
    </button>
}